.Abouts{
  display: flex;
  margin: 5%;
  background-color: #EFEFEF;
  
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 504px;
}

h1{
  font-size: 2rem;
  color: #494949;
  font-family: 'Roboto', sans-serif;
}

p{  
background-color: #EFEFEF;
margin: 0;
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #494949;
line-height: 28px;
}

#right{
  margin-top: 60px;
  margin-right: 23px;
}